.counter{
    border-right: 2px solid #D6D6D6;
}
.counter:last-child{
    border-right: 0;
}
.counter:first-child{
    justify-content: start ;
}

@media(max-width:991px){

    .counter:nth-child(3){
        border-right: 0;
    }
    .counter:nth-child(4){
        justify-content: start ;
    }
}
@media(max-width:576px){

    .counter:nth-child(even){
        border-right: 0;
    }
    .counter:nth-child(3){
        border-right: 2px solid #D6D6D6;
    }
    .counter:nth-child(odd){
        justify-content: start ;
    }
    .counter:nth-child(4){
        justify-content: center ;
    }
}