/* ######   General Sans    ####### */

@font-face {
  font-family: 'GeneralSans';
  src:
    url('../fonts/GeneralSans-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}




@font-face {
  font-family: 'GeneralSans';
  src:
    url('../fonts/GeneralSans-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}



@font-face {
  font-family: 'GeneralSans';
  src:
    url('../fonts/GeneralSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}




@font-face {
  font-family: 'GeneralSans';
  src:
    url('../fonts/GeneralSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}




@font-face {
  font-family: 'GeneralSans';
  src:
    url('../fonts/GeneralSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}



@font-face {
  font-family: 'GeneralSans';
  src:
    url('../fonts/GeneralSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}



@font-face {
  font-family: 'GeneralSans';
  src:
    url('../fonts/GeneralSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


/* ######   Mada    ####### */







@font-face {
  font-family: 'Mada ExtraLight';
  font-style: normal;
  font-weight: 200;
  src: local('Mada ExtraLight'), url('../fonts/Mada-ExtraLight.woff') format('woff');
}


@font-face {
  font-family: 'Mada Light';
  font-style: normal;
  font-weight: 300;
  src: local('Mada Light'), url('../fonts/Mada-Light.woff') format('woff');
}


@font-face {
  font-family: 'Mada Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Mada Regular'), url('../fonts//Mada-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Mada Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Mada Medium'), url('../fonts/Mada-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Mada SemiBold';
  font-style: normal;
  font-weight: 600;
  src: local('Mada SemiBold'), url('../fonts/Mada-SemiBold.woff') format('woff');
}


@font-face {
  font-family: 'Mada Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Mada Bold'), url('../fonts/Mada-Bold.woff') format('woff');
}